html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    background-color: transparent;
}

.container {
    font-family: Helvetica-Lignt, sans-serif;
    margin: 0 auto;
    max-width: 800px;

}

nav {
    background: #161616;
    height: 75px;
    display: flex;
    align-content: center;
}

.logo {
    margin: 5px;
    width: 125px;
}

.nav-title {
    color: #fff;
    font-family: "Dancing Script", Geneva, sans-serif;
    margin-left: 40px;
}

.info h1 {
    color: #2d2d2d;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}

.sub-title {
    font-size: 27px;
    font-weight: 300;
    text-align: center;
}

.sub-title2 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 300;
    text-align: center;
}

.recent-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto;
    max-width: 800px;
}

.content {
    padding: 10px;
}

.search-wrapper {
    border-radius: 5px;
    margin: 20px auto;
    height: 100px;
    max-width: 600px;
    background-color: #2f2f30;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

[name=recipe] {
    width: 18em;
}

[name=submit] {
    background: #8da836;
    border-radius: 5px;
}
